{
  "extends": "airbnb",
  "rules": {
    "semi": "off",
    "linebreak-style": ["error", "windows"],
    "react/jsx-one-expression-per-line": "off",
    "object-curly-newline": "off",
    "arrow-parens": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
